{% extends 'appundercode/base.html' %}

{% block Contenido %}
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">DISEÑO WEB</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posteado el 16 de Noviembre</div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Diseño web</a>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Código</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="../../static/appundercode/assets/code.jpg"
                        alt="Imágen de código de Python" /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">El diseño web implica trabajo relacionado con el layout y diseño de páginas online, así como la producción de contenido, aunque generalmente se aplica a la creación de sitios web.</p>
                    <p class="fs-5 mb-4">En este caso, los diseñadores web crean las páginas utilizando lenguajes de marcado como HTML. Por otro lado, la parte visual de los sitios está a cargo del CSS, término utilizado para estilizar los elementos escritos en HTML.</p>
                    <p class="fs-5 mb-4">Por lo tanto, es común que los diseñadores web utilicen ambos para construir un site porque juntos definirán cómo aparecerán las páginas en los navegadores.</p>
                    <h2 class="fw-bolder mb-4 mt-5">¿Qué implica el diseño web?</h2>
                    <p class="fs-5 mb-4">En el diseño web, los elementos gráficos se mantienen, pero no necesariamente tienen que ser un formato estático. </p>
                    <p class="fs-5 mb-4">Una de sus ventajas es precisamente la capacidad de poder combinar elementos fijos o estáticos con elementos interactivos.</p>
                    <p class="fs-5 mb-4"><b>Motion Graphics, ilustraciones, slides, audio y video, son algunos elementos que los diseñadores pueden integrar, lo que les da una mayor libertad para poder comunicar el mensaje y las intenciones del sitio con respecto al usuario. </b></p>
                </section>
            </article>
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        <form class="mb-4"><textarea class="form-control" rows="3"
                                placeholder="Join the discussion and leave a comment!"></textarea></form>
                        <!-- Comment with nested comments-->
                        <div class="d-flex mb-4">
                            <!-- Parent comment-->
                            <div class="flex-shrink-0"><img class="rounded-circle"
                                    src="../../static/appundercode/assets/persona1.jpg" alt="Imágen de una persona" width="50" height="50"/></div>
                            <div class="ms-3">
                                <div class="fw-bold">Alejandro Sosa</div>
                                Muy buen blog!! Hace mucho tiempo quería introducirme en todo este tema de la programación, pero ya no se, creo que ya estoy grande para esto... De todas formas seguiré leyendo los otros blogs ya que me resultan interesantes.
                                <!-- Child comment 1-->
                                <div class="d-flex mt-4">
                                    <div class="flex-shrink-0"><img class="rounded-circle"
                                            src="../../static/appundercode/assets/persona2.jpg" alt="..." width="50" height="50"/></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Eugenia Bazán</div>
                                        Nunca es tarde estimado Alejandro. Tu puedes!!
                                    </div>
                                </div>
                                <!-- Child comment 2-->
                                <div class="d-flex mt-4">
                                    <div class="flex-shrink-0"><img class="rounded-circle"
                                            src="../../static/appundercode/assets/persona3.jpg" alt="..." width="50" height="50" /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Brandon Romero</div>
                                        Escuche Alejandro, yo pensaba igual que usted pero hice unos cursos en CoderHouse y todo cambio. Te lo recomiendo. Suerte!!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single comment-->
                        <div class="d-flex">
                            <div class="flex-shrink-0"><img class="rounded-circle"
                                    src="../../static/appundercode/assets/persona4.jpg" alt="..." width="50" height="50" /></div>
                            <div class="ms-3">
                                <div class="fw-bold">Olivia Pagano</div>
                                Me gusta el contenido pero aun así pienso que le falta un poco de información. Saludos!!
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header"><b>BUSCAR</b></div>
                <div class="card-body">
                    <div class="input-group">
                        <input action=" '/appundercode/blog/blog/' " class="form-control" type="text" placeholder="Buscar blog..."
                            aria-label="Enter search term..." aria-describedby="button-search" name="nombre" method="get" />
                        <button class="btn btn-danger" id="button-search" type="button">BUSCAR</button>
                    </div>
                    <ul>
                        {% for i in nombre %}
                        <li>{{Categorias.nombre}}</li>
                        {% endfor %}
                        
                    </ul>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header"><b>CATEGORIAS</b></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!" class="text-danger">Diseño web</a></li>
                                <li><a href="#!" class="text-danger">HTML</a></li>
                                <li><a href="#!" class="text-danger">Python</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!" class="text-danger">JavaScript</a></li>
                                <li><a href="#!" class="text-danger">CSS</a></li>
                                <li><a href="#!" class="text-danger">PHP</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header"><b>CURSOS</b></div>
                <div class="card-body">Podras encontrar cursos muy interesantes y completos sobre Desarrollo Web en <a class="text-danger" href="https://www.coderhouse.com/online/desarrollo-web-online" target="_blank">CoderHouse</a></div>
            </div>
        </div>
    </div>
</div>

{% endblock Contenido%}