{% extends 'appundercode/base.html' %}

{% block Contenido %}
<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            <div class="card mb-4">
                <a href="#!"><img class="card-img-top" src="../../static/appundercode/assets/code.jpg" height="450"
                        alt="..." /></a>
                <div class="card-body">
                    <div class="small text-muted">16 de Noviembre, 2022</div>
                    <h2 class="card-title">Desarrollo Web</h2>
                    <p class="card-text">Quieres saber que es el desarrollo web y que implica. Entonces has click en el botón de aquí abajo</p>
                    <a class="btn btn-danger" href="#!">LEER MAS →</a>
                </div>
            </div>
            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="../../static/appundercode/assets/codejs.jpg" height="240"
                                alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2022</div>
                            <h2 class="card-title h4">JAVASCRIPT</h2>
                            <p class="card-text">Al graduarte, estarás en condiciones de crear soluciones web interactivas, y trasladar los conocimientos del curso a cualquier framework JavaScript.</p>
                            <a class="btn btn-danger" href="#!">LEER MAS →</a>
                        </div>
                    </div>
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="../../static/appundercode/assets/codephp.jpg" height="240"
                                alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2022</div>
                            <h2 class="card-title h4">PHP</h2>
                            <p class="card-text">Aprende programación web con PHP 7 de forma práctica con más de 36 ejercicios reales paso a paso desde cero y en Español</p>
                            <a class="btn btn-danger" href="#!">LEER MAS →</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="../../static/appundercode/assets/codepy.jpg" height="240"
                                alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2022</div>
                            <h2 class="card-title h4">PYTHON</h2>
                            <p class="card-text">Incorporarás los conocimientos necesarios de Class-Based-View, login - register - accounts, CRUD y modelforms. Desarrollarás una aplicación web estilo blog de la mano de Python en Django Framework.</p>
                            <a class="btn btn-danger" href="#!">LEER MAS →</a>
                        </div>
                    </div>
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="../../static/appundercode/assets/codecsh.jpg" height="240"
                                alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2022</div>
                            <h2 class="card-title h4">C#</h2>
                            <p class="card-text">Aprenderás a programar, desde 0 hasta un nivel de experto, usando el lenguaje C#. Utilizaras .NET, C# 10, Visual Studio 2019 y Git, conviértete en programador.</p>
                            <a class="btn btn-danger" href="#!">LEER MAS →</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pagination-->
            <nav aria-label="Pagination">
                <hr class="my-0" />
                <ul class="pagination justify-content-center my-4">
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                            aria-disabled="true">Reciente</a></li>
                    <li class="page-item active" aria-current="page"><a class="page-link bg-danger text-white"  href="#!">1</a></li>
                </ul>
            </nav>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header"><b>BUSCAR</b></div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Buscar curso..."
                            aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-danger" id="button-search" type="button">BUSCAR</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header"><b>CATEGORIAS</b></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!" class="text-danger">Web Design</a></li>
                                <li><a href="#!" class="text-danger">HTML</a></li>
                                <li><a href="#!" class="text-danger">Freebies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!" class="text-danger">JavaScript</a></li>
                                <li><a href="#!" class="text-danger">CSS</a></li>
                                <li><a href="#!" class="text-danger">Tutorials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header"><b>CURSOS</b></div>
                <div class="card-body">Podras encontrar cursos muy interesantes y completos sobre porgramaciòn y mucho mas en <a class="text-danger" href="https://www.coderhouse.com/online/desarrollo-web-online" target="_blank">CoderHouse</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock Contenido%}